<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codecat.directtochat">

    <queries>
        <package android:name="com.whatsapp.w4b"/>
        <package android:name="com.whatsapp"/>
    </queries>

    <application
        android:roundIcon="@mipmap/ic_launcher_round"
        android:icon="@mipmap/ic_launcher_round"
        android:theme="@style/BaseTheme"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name=".CountrySelectorActivity" android:theme="@style/MainTheme"/>
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>